# node's pacakge
node_modules

# app's enviroment variable
.env

__pycache__
*.pyc
*.log
*.pot

db.sqlite3

## python's virtual enviroment
bin
include
pyvenv.cfg

# python's distribution & package
lib